* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heading{
    font-family: 'Merriweather';
    font-size: 6vh;
    font-weight: bold;
    color: black;
       
                
}

.nav-bar-bg{
    background-color: #c7a47b;
}
.main-page{
    background-color: #fffaeb;
    width: 100%;
    height: 100%;
}

.hero-section{
    display: flex;
}


html, body {
    width: 100%; 
    overflow-x: hidden;
   
}




.features-section{
    
    background-color: #ffffff;
    padding-top: 50px; 
    padding-bottom: 50px; 
}


.features-section-card{
   
    background-color: #fffaeb; 
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}

.features-section-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    
}
    

.build-image{
    height: 10vh;
    width: 10vh;
}


.features-section-card-heading{
    font-family: 'Geom';
    color: black;
}

.btn-primary-cta {
    background-color: #c7a47b !important;
    color: white !important;
    border: 1px solid #c7a47b !important; 
    height: min-content !important; 
    font-family: 'serif';
    padding: 10px 20px;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1
}
.btn-primary-cta:hover {
    background-color: #a38565 !important;
     transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(105, 105, 105, 0.2); 
}


.btn-secondary-cta {
    background-color: transparent !important;
    color: #c7a47b !important;
    border: 2px solid #c7a47b !important;
    height: min-content !important; 
    font-family: 'serif';
    padding: 8px 18px; 
    margin-right: 10px;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1
}
.btn-secondary-cta:hover {
    background-color: #f0ead2 !important; 
     transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(105, 105, 105, 0.2);
}







/* starting content section */
.content-section{
    padding: 40px;
   
   width:max-content;
   height: max-content;
   background-image: url(images/IMG_20251218_110036070.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
 

   
}
.content-setion-flex{
    padding: 20px;
    width: max-content;
    
    border-radius: 20px;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 237, 216, 0.4); 
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.content-section-card{
    background-color: #ffffff;
    display: inline-block;
    height: max-content;
    width: max-content;
    
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
   
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1

}
.content-section-card:hover {
    background-color: #e9e2c6 !important; 
     transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(105, 105, 105, 0.2);
}
.content-dropdown{
   padding: 10px;
    text-align: center;
    background-color: #caa883;
    border-radius: 10px;
    width: 50vh;
    margin: 10px;
}

.list-menu{
    width: 50vh;
}
.tooglecard{
    display: none;
}
.tooglecard1{
    display: block;
}


.content-section-heading{
   font-family: 'Geom';
    font-size: medium;
    color: black;
    font-weight: bold;
    text-align: center;
}


p{

    color: #7A7A7A;
     font-size: 15px;
     font-family: 'roboto';
}
li{
    font-family: 'roboto';
}